@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&display=swap');

.containe {
  display: flex;
  flex-direction: column;
  position: center;
  width: 1100px;
  height: 1100px;
  background: #f1f1f1;
  margin: 50px auto 0;
  word-break: break-all;
 
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid #808080;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: rgb(111, 22, 107);
}
.tabs:not(:last-child){
  border-right: 0.1px solid #808080;
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(111, 22, 107);
}

.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
  font-family: 'Charis SIL', serif;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

