@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.info h2 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 15px 0;
    font-family: 'Charis SIL', serif;
    text-align: center;
}

.info h1 {
    font-size: 35px;
    font-weight: 500;
    color: #0048ba;
    margin: 10px 0 15px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.info h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 15px 0;
    font-family: 'Charis SIL', serif;
    text-align: left;
}

.cuckoo h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 10px 15px 15px 0;
    font-family: 'Charis SIL', serif;
    text-align: left;
    background-color: #2986cc;
    padding-left: 16px;
}

.dbutton {
    background-color: DodgerBlue;
    border: 1px;
    border-color: black;
    color: black;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
}
  
  /* Darker background on mouse-over */
.dbutton:hover {
    background-color: #0048ba;
}


.title{
    padding: 0px 0 5px 0px;
    font-family: 'Charis SIL', serif;
}

.vt h1 {
    font-size: 35px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 15px 0;
    font-family: 'Charis SIL', serif;
    text-align: center;
}


.yara h1 {
    font-size: 35px;
    font-weight: 500;
    color: #000;
    margin: 10px 0 15px 0;
    font-family: 'Charis SIL', serif;
    text-align: left;
}

.details h1 {
    background-color: #2986cc;
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;

}